/*
Melina Lyons
Spring 2018

Colors

Green:  #3CB371;
White   #FFFFFF;
*/


/*
Class
*/
.wrapper {width:92%; margin:0 auto; max-width:960px; background-color:#3CB371;
	padding:30px 0;}

	
/*
Styles
*/	
fieldset {font-weight:bold; background-color:#FFFFFF;}



/*
ID's
*/	
#output_Form {padding-left:50px; padding-right:50px;}
#output {font-weight:bold; color:red;}
