/*
Melina Lyons
Spring 2018

Colors

Green:  #3CB371; background for wrapper
White   #FFFFFF;
*/


/*
Class
*/
.wrapper {width:92%; margin:0 auto; max-width:960px; padding:30px 20px 20px 20px;}

	
/*
Styles
*/	
fieldset {font-weight:bold; background-color:#FFFFFF;}
legend {padding: 5px 5px 10px;}


/*
ID's
*/	
#output_Form {padding-left:50px; padding-right:50px;}
#output_Form id {font-weight:bold; color:red;}
