/*
Melina Lyons
Spring 2018

Colors

Grey   #D3D3D3;
Beige  #F5F5DC;
*/


/*
Class
*/
.wrapper {
	width:92%; 
	margin:0 auto; 
	max-width:960px; 
	padding:30px 20px 20px 20px; 
}
	
/*
Styles
*/	
body {background-color: beige;}
legend {padding: 5px 5px 10px;}


/*
ID's
*/	
#output_Form {padding-left:50px; padding-right:50px;}
#order_Form {font-weight:bold;}
